<a href="https://colab.research.google.com/github/pradhanhitesh/ml_detectionsys/blob/main/Diabetes_DetectionSystem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn import svm

load_data = pd.read_csv('/content/diabetes.csv')

In [41]:
load_data.head(n=10) #Display data

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            6      148             72  ...                     0.627   50        1
1            1       85             66  ...                     0.351   31        0
2            8      183             64  ...                     0.672   32        1
3            1       89             66  ...                     0.167   21        0
4            0      137             40  ...                     2.288   33        1
5            5      116             74  ...                     0.201   30        0
6            3       78             50  ...                     0.248   26        1
7           10      115              0  ...                     0.134   29        0
8            2      197             70  ...                     0.158   53        1
9            8      125             96  ...                     0.232   54        1

[10 rows x 9 columns]

In [13]:
load_data.groupby('Outcome').mean() #0 for negetive and 1 for postitive  ----> Diabates

         Pregnancies     Glucose  ...  DiabetesPedigreeFunction        Age
Outcome                           ...
0           3.298000  109.980000  ...                  0.429734  31.190000
1           4.865672  141.257463  ...                  0.550500  37.067164

[2 rows x 8 columns]

In [49]:
load_data.describe()

       Pregnancies     Glucose  ...         Age     Outcome
count   768.000000  768.000000  ...  768.000000  768.000000
mean      3.845052  120.894531  ...   33.240885    0.348958
std       3.369578   31.972618  ...   11.760232    0.476951
min       0.000000    0.000000  ...   21.000000    0.000000
25%       1.000000   99.000000  ...   24.000000    0.000000
50%       3.000000  117.000000  ...   29.000000    0.000000
75%       6.000000  140.250000  ...   41.000000    1.000000
max      17.000000  199.000000  ...   81.000000    1.000000

[8 rows x 9 columns]

In [50]:
load_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [51]:
load_data.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [14]:
#Separating class from feaures into X and Y 
X = load_data.drop(columns=['Outcome'],axis=1) 
Y = load_data['Outcome']

In [68]:
load_data['Outcome'].value_counts()

0    500
1    268
Name: Outcome, dtype: int64

In [85]:
#Creating train and test datasets
X_train, X_test, Y_train, Y_test = train_test_split(X,Y,test_size=0.4, random_state=2)

In [86]:
print(X.shape,X_train.shape,X_test.shape)

(768, 8) (460, 8) (308, 8)

In [87]:
#Standardising data
scaler = StandardScaler()

In [88]:
scaler.fit(X_train)

StandardScaler()

In [89]:
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

In [121]:
print(X_train)

[[ 0.04310501 -0.8838745   0.03040822 ...  0.01882398  0.34353077
  -0.78412868]
 [ 0.94439149  0.61266922 -0.48958361 ... -0.40576439  0.55738518
   2.41248693]
 [-0.85818148 -0.53361959  0.34240331 ...  0.71360494 -0.83979698
  -0.61133865]
 ...
 [ 0.04310501  0.07136617  0.03040822 ... -0.39289807  1.8604714
   1.03016666]
 [-0.25732382 -0.21520603  0.23840495 ... -0.72742224 -1.09642227
  -0.78412868]
 [ 0.04310501 -0.40625417 -0.17758851 ... -0.00690865 -0.05851553
  -0.3521536 ]]

In [122]:
#Create Model
model = svm.SVC(kernel='linear')

In [123]:
model.fit(X_train,Y_train)

SVC(kernel='linear')

In [124]:
#Checking accuracy - Train
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(Y_train, X_train_prediction)

In [125]:
print('The train data accuracy is: ',training_data_accuracy)

The train data accuracy is:  0.7934782608695652

In [126]:
#Checking accuracy - Test 
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(Y_test, X_test_prediction)

In [127]:
print('The test data accuracy is: ', test_data_accuracy)

The test data accuracy is:  0.75

In [128]:
input_data = (5,166,72,19,175,25.8,0.587,51)

load_data_2numpy = np.asarray(input_data)
load_data_reshape = load_data_2numpy.reshape(1,-1)

# Standardise the input
std_data = scaler.transform(load_data_reshape)

prediction = model.predict(std_data)
print(prediction)



if (prediction[0] == 0):
  print("The person doesnt have Diabetes")
else:
  print("The person have Diabetes")

[1]
The person have Diabetes

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:446: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  "X does not have valid feature names, but"